<!DOCTYPE html>
<html>
  <head>
    <title>TriviaNight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
 <ul>
  <li><%= render 'application/links' %></li>
</ul>       
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>